@font-face{
    font-family: myFont;
    src: url('abhayamedium.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px 100px;
}

.header img{
    width: 110px;
}

.line{
    border-bottom: 1px solid black;
    margin: 0 25px 30px 25px;
}

.navbar{
    display: flex;
    float: right;
}

.navbar a{
    font-size: 18px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 5px;
    color: black;
}

nav a:hover,
nav a.active{
    color:#333;
    font-style: italic;
}

.text {
    text-align: center;
    padding: 245px 0 0 0;
    font-size: 50px;
    color: white;
}

.background{
    min-height: 100vh;
    background: url('headergelap.svg') no-repeat;
    background-size: cover;
    background-position: center;
}


.container-middle {
    margin: 150px 100px 100px 100px;;
    min-height: 100vh;
    background: url('arunaexhi.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container-middle p{
    padding: 170px 550px 0 110px;
}

.container-bottom{
    margin: 120px 0;
}

.lokasi{
    padding: 50px 0 0 90px;
    font-size: 30px;
}

.bottom{
    margin: 15px 0;
    min-height: 100vh;
    background: url('operational.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.alamat {
    padding: 550px 1000px 0 100px;
}


//project
#container {
    width: 100%;
}

.project h2{
    font-size: 40px;
    padding-left: 60px;
}

#gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-decoration: row;
    flex-wrap: wrap;
    //padding-left: 25px;
}

.project-item {
    width: 200px;
    height: 200px;
    margin: 100px;
    padding-bottom: 300px;
    padding-left: 25px;
}

// exhibition
.exhi-background{
    min-height: 100vh;
    background: url('exhi-background.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.exhi-background img{
    width: 100%;

}

.garis {
   
}

.container-m {
    padding: 200px 0 0 0;
    min-height: 100vh;
    background: url('realisme.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container-m img{
    width:
}

.thumbnail img{
    width: 200px;
} 

.prev-exhi{
    width: 20%;
}

.prev-exhi{
    padding: 50px;
}


//alert
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.alert button {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

// footer

.footer{
    position: fixed;
    bottom: 0;
}

.footer-container{
    background-color: black;
    width: 100%;
    padding: 30px 100px;
}

.footer-container h3 p{
    font-size: 20px;
}

.footer-left{
    width: 30%;
    color: white;
}

.footer-middle{
    width: 30%;
    color: white;
    margin: 10px 100px;
    padding: 0 50px;
}

.footer-right{
    
}

.footer-right i{
    font-size: 50px;
    color: white;
}

.footer-container, 
.footer-left, 
.footer-middle, 
.footer-right {
    display: inline-block;
}


